* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
  line-height: 20px;
}

/* line 9, highlight.css.scss */
#main .highlight {
  /*background-image: url(/images/code_background.gif);*/
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Monaco, Menlo, Courier, monospace;
  line-height: 16px;
  overflow: hidden;
  position: relative;
  margin: 2em 0;
  -webkit-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1); }
  /* line 21, highlight.css.scss */
  #main .highlight table {
    margin: 0 0; }
  /* line 25, highlight.css.scss */
  #main .highlight .ribbon {
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 52px;
    height: 20px; }
/*  #main .highlight.javascript .ribbon, #main .highlight.js .ribbon {
    background-image: url(/images/js-ribbon.png);
  }
  #main .highlight.html .ribbon {
    background-image: url(/images/html-ribbon.png);
  }
  #main .highlight.handlebars .ribbon {
    background-image: url(/images/handlebars-ribbon.png);
  }*/

.CodeRay {
  width: 100%;
  /* HTML */ }
  .CodeRay td.line-numbers {
    width: 38px;
    text-align: center;
    border-right: 1px solid #d1d1d1;
    background-color: #f6f6f6;
    color: #b4b4b4;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  /* line 56, highlight.css.scss */
  .CodeRay td.code {
    padding: 8px 0 8px 13px;}
  /* line 61, highlight.css.scss */
  .CodeRay .tag {
    color: #1f58ce; }
  /* line 65, highlight.css.scss */
  .CodeRay .comment {
    color: #777777; }
  /* line 69, highlight.css.scss */
  .CodeRay .attribute-name {
    color: #1f58ce; }
  /* line 73, highlight.css.scss */
  .CodeRay .content {
    color: #153c8c; }
  /* line 77, highlight.css.scss */
  .CodeRay .string {
    color: #1f58ce; }
  /* line 81, highlight.css.scss */
  .CodeRay .keyword {
    color: #ce791f; }
  /* line 85, highlight.css.scss */
  .CodeRay .key, .CodeRay .function {
    color: #2b1fce; }
  /* line 89, highlight.css.scss */
  .CodeRay .local-variable {
    color: #1f58ce; }

/* line 99, highlight.css.scss */
.handlebars .CodeRay .inline,
.handlebars .CodeRay .inline .inline-delimiter,
.handlebars .CodeRay .inline .delimiter {
  color: #00aa00; }
/* line 103, highlight.css.scss */
.handlebars .CodeRay .inline .attribute-name {
  color: #007700; }
/* line 107, highlight.css.scss */
.handlebars .CodeRay .inline .attribute-value,
.handlebars .CodeRay .inline .content {
  color: #004400; }
